@model GarageReturn.Models.ReceiptViewModel

@{
    ViewBag.Title = "ReceiptView";
}

<h2>ReceiptView</h2>

<div>
    <h4>ReceiptViewModel</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NowTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NowTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>





    </dl>
</div>
<p>

<p>Click the button to print the current page.</p>

<button onclick="myFunction()">Print out the receipt</button>

<script>
    function myFunction() {
        window.print();
    }
</script>

<p>
@Html.ActionLink("Back to List", "Index")
</p>



